.textAreaContainer textarea {
  font-family: RobotoMono, sans-serif;
  resize: vertical;
  height: calc(100vh - 100px);
  overflow: auto;
}

.compiledCodeContainer {
  height: calc(100vh - 195px);
  overflow-y: scroll;
  resize: vertical;
}
