.container {
    display: flex;
    flex-direction: column;
}

.screenContainer {
    display: flex;
}

.pixel {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.black {
    background-color: black;
}