.highlight {
  color: white;
  background: black;
}

.editModal {
  position: absolute;
  background: white;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 520px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.errorContainer {
  color: darkred;
}
